<!doctype html>
<html>
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Angular Application</title>
</head>
<body>

    <h1>Welcome</h1>
    <div ng-app="app">
        <div ng-controller="ContactController as vm">
            <div>
                <input ng-model="vm.currentTask.name" placeholder="Name">
                <input ng-model="vm.currentTask.phone" placeholder="Phone">
                <button ng-click="vm.addContact()">Add</button>
            </div>            
            <ul>
                <li>
                    <h4>{{ vm.currentTask.name }}</h4>
                    <h6>{{ vm.currentTask.phone }}</h6>
                </li>
                <li ng-repeat="contact in vm.contacts">
                    <h4>{{ contact.name }}</h4>
                    <h6>{{ contact.phone }}</h6>
                </li>
            </ul>
        </div>
    </div>

    <script src="js/angular.js"></script>
    <script src="js/app/app.js"></script>
    <script src="js/app/controllers/ContactController.js"></script>

</body>
</html>
