<!doctype html>
<html>
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Angular Application</title>
</head>
<body>

    <div ng-app="app">
        <div ng-controller="ContactController as vm">
            <ul>
              <div ng-repeat="contact in vm.contacts">
                <li>
                    <h5> Contact Name: <input ng-model="contact.name"></input> </h5>

                    <h5> Phone Number: <input ng-model="contact.phone"></input> </h5>
                </li>
              </div>
            </ul>
            <button ng-click="vm.addContact()">ADD CONTACT</button>
        </div>
    </div>

    <script src="js/angular.js"></script>
    <script src="js/app/app.js"></script>
    <script src="js/app/controllers/ContactController.js"></script>

</body>
</html>
