<!doctype html>
<html>
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Angular Application</title>
</head>
<body>

    <div ng-app="app">
        <div ng-controller="ContactController as vm">
            <ul ng-repeat="contact in vm.contacts">
                <li>
                    <h4>Contact Name: {{contact.name}}</h4>
                    <h6>Phone Number: {{contact.phone}} </h6>
                </li>
            </ul>
            
            <h4>New Contact</h4>
            <u>Name</u>  {{vm.newContactName}}<br>
            <u>Phone</u>    {{vm.newContactPhone}}<br>
            <br>

            <input ng-model="vm.newContactName" type="text" placeholder="Name">
            <input ng-model="vm.newContactPhone" type="text" placeholder="Phone">
            <button ng-click="vm.addContact()">Add a New Contact</button>
        </div>
    </div>

    <script src="js/angular.js"></script>
    <script src="js/app/app.js"></script>
    <script src="js/app/controllers/ContactController.js"></script>

</body>
</html>
